#portada {
    background: linear-gradient(to right, #020d20,#18095b, #420a42);
    color: white;

}

.header {
    background-color: rgb(155, 184, 222);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 1px;
    font-family: cursive;
    font-size: 20px;
    font-weight: bold;
}

#eslogan {
    flex-grow: 1;
    font-style: italic;
}

#apps {
    display: flex;
    gap: 50px;
    margin-right: 80px;
}

#apps img {
    width: 50px;
}


.btn1 {
    display: flex;
    align-items: center;
    gap: 40px;
    padding-right: 50px;
}

.btn1 a {
    text-decoration: none;
    color: white;
}

.separador {
    display: flex;
    flex-direction: column;
    /*Esto los pone uno encima del otro*/
    gap: 0.1px;
}

.divider {
    padding: 1px;
    text-align: center;
    font-weight: 1000;
}

/* Logo */
.logo {
    display: table;
    margin-left: 30px;

    background: #ff80d6;
    background: linear-gradient(19deg, #ff80d6 0%, #ff54aa 80%);
    background: -webkit-linear-gradient(19deg, #ff80d6 0%, #ff54aa 80%);
    background: -moz-linear-gradient(19deg, #ff80d6 0%, #ff54aa 80%);

    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.logo__text {
    font-family: 'Permanent Marker', cursive;
    font-size: 12px;
    color: #ffff;
    text-shadow: 0 0 10px #ffffffd0;

    text-transform: uppercase;
    font-weight: bold;
    transform: rotate(-10deg);
}



/************************ B L  O Q U E 2 *********************/
.content {
    margin-top: 0;
    display: flex;
    gap: 20%;
}

.rotada {
    perspective: 1000px;
    /*profundidad 3D */
    display: inline-block;
    background-color: red;
    margin-top: 15px;
}

.rotada img {
    width: 230px;
    transform: rotateY(-30deg) rotateX(5deg) rotateZ(8deg);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
    /* sombra para realce */
    transition: transform 0.3s ease;
}

.content h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 40px;
    font-size: 50px;
    letter-spacing: 10px;
    font-style: italic;
}

.content p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.3px;
    margin-left: 40px;
    font-weight: 450;
    font-size: 18px;
}

.content button {
    background-color: #eaa7d5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    margin-left: 40px;
    font-size: 25px;
    letter-spacing: 1px;
    border: 5px solid #eaa7d5;
    box-shadow: 0px 8px 15px #979595;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    text-align: center;
    padding: 5px;
}



/**************B L O Q U E 3*************/
.footer {
    background-color: rgb(155, 184, 222);
    margin-top: 10px;
    padding: 10px;
}

#descargar {
    display: flex;
    gap: 10px;
    align-items: center;
}

.colum {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.colum img {
    width: 100px;
}

.pago1,
.pago2 {
    background-color: rgb(237, 235, 239);
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    /* centra las imágenes horizontalmente */
    gap: 1px;
    /* espacio entre imágenes */
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
}

.pago1 img,
.pago2 img {
    width: auto;
    /* ajusta el tamaño si deseas */
    height: 25px;
    object-fit: cover;

}

.pago1 img {
    height: auto;
    width: 25px;
}