.pag-registro {
    background-color: rgb(223, 229, 236);
    letter-spacing: 1px;
}

#encabezado {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    letter-spacing: 1px;
    padding: 10px;
    margin-top: 1%;
    background-color: rgb(187, 194, 205);
}

/*logos redes sociales*/
#apps2 {
    display: flex;
    gap: 3rem;
    align-items: center;
}

#apps2 img {
    width: 50px;
}

#logos {
    display: flex;
    gap: 10rem;
    align-items: center;
    margin-right: 40%;
}

#logos img {
    width: 65px;
}

/*volver*/
.volver {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.atras {
    text-decoration: none;
    font-size: 15px;
    color: #333;
    font-weight: bold;
}

/*boton iniciar sesion*/
.iniciarSsion {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &:hover{
        cursor: pointer;
        transition: transform 0.3s;
        transform: scale(1.1);
    }
}
.texto {
    text-decoration: none;
    color: #333;
    font-size: 20px;
    font-weight: bold;

    &:hover{
        color:#4941db;
    font-weight: bold;
    }
}

/****************B L O Q U E 2*****************/

/* Logo */
.logo2 {
    display: table;
    margin: 2% auto;

    background: #ff80d6;
    background: linear-gradient(19deg, #ff80d6 0%, #ff54aa 80%);
    background: -webkit-linear-gradient(19deg, #ff80d6 0%, #ff54aa 80%);
    background: -moz-linear-gradient(19deg, #ff80d6 0%, #ff54aa 80%);

    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.logo__text2 {
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    color: #ffff;
    text-shadow: 0 0 10px #ffffffd0;

    text-transform: uppercase;
    font-weight: lighter;
    transform: rotate(-10deg);
}

.leyenda {
    color: #333;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-weight: bold;
    font-size: 30px;
}

/*FORMULARIO*/
.preguntas_form {
    display: flex;
    align-items: center;
    gap: 10rem;
    margin: 0 8%;
    color: #333;
    font-weight: bold;
}

.formulario fieldset {
    border: none;
    outline: none;
    margin-top: 3%;
}

/*campos a rellenar*/
.campos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
    font-size: 25px;
    margin-bottom: 50px;
    color: brown;
}

.campos input {
    width: 450px;
    height: 45px;
    margin-top: 5px;
    font-size: 15px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(84, 76, 107, 0.874);
}

/*OPCIONES SEXO*/
.campos_radio p {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    margin-bottom: 10px;
    color: brown;
}

.campos_radio {
    margin-bottom: 65px;
}

.opciones_sexo {
    display: flex;
    font-size: 20px;
    gap: 8rem;
    margin-left: 15%;
}

.opciones_sexo label:hover, input:hover{
    cursor: pointer;
}

/*CHECKBOX CONTRASEÑA*/
.campoContra{
    display: flex;
    gap: 1rem;
    margin-left: 38px;
}
.campoContra input[type="checkbox"]{
    background: transparent;
    border: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-top: 15px;
}

/*****************B O T O N E S************/
.formulario_btn {
    display: flex;
    column-gap: 5rem;
    justify-content: center;
}

.container input{
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    width: 200px;
    height: 50px;
    border: 2px solid #502954 ;
    background-color:#502954;
    box-shadow: 0px 5px 10px #9c688b;
    cursor: pointer;
    margin-bottom: 50px;

    &:hover{
        transition: transform 0.3s;
        transform: scale(1.1);
    }
}

/*terminos y condiciones*/
.terminos{
    color: #000;
    font-size: 18px;
    margin-left: 3%;
    padding: 30px;
}
.terminos label:hover{
    color: brown;
    cursor: pointer;
    font-weight: bold;
}
.terminos input[type="checkbox"] {
    width: 15px;
    height: 15px;
}

