<head>
    <meta charset="UTF-8">
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>

<nav>
    <header>
        <div id="encabezado">
            <div id="logos">
                <div class="volver">
                    <a href="/partials/portada.html"><img class="iconos" src="/img/atras.png" alt="regreso"></a>
                    <a class="atras" href="/partials/portada.html">Atrás</a>
                </div>

                <div class="iniciarSsion">
                    <img src="/img/registro2.png" alt="sesion">
                    <a class="texto" href="/partials/registro.html">Regístrate</a>
                </div>
            </div>

            <!--LOGOS SOCIAL MEDIA-->
            <div id="apps2">
                <img class="redes" src="/img/instagram.png" alt="insta">
                <img class="redes" src="/img/facebook.png" alt="fbook">
                <img class="redes" src="/img/tik-tok.png" alt="tiktok">
            </div>
        </div>
    </header>

    <main>
        <div class="particion">
            <div>
                <!--logo-->
                <div class="logo3">
                    <h1 class="logo__text3">la nota <br> musical</h1>
                </div>

                <form class="form2">
                    <legend>Para continuar, inicia sesión con <br>tu cuenta personal</legend>
                    <section>
                        <fieldset>

                            <div class="campos_inicio">
                                <label for="correo">Dirección de correo o nombre de usuario</label>
                                <input id="direccion_inicio" type="text" placeholder="Correo o usuario">
                            </div>

                            <div class="campos_inicio">
                                <label for="contraseña">Contraseña</label>
                                <div class="campoContraseña">
                                    <input id="contraseña" type="password" placeholder="********">
                                    <input class="verContraseña" type="checkbox"
                                        onclick="contraseña.type = this.checked ? 'text' : 'password'">
                                </div>
                            </div>
                        </fieldset>
                    </section>
                </form>

                <!--BOTON INICIAR SESION-->
                <section class="form_btn">
                    <a href="/partials/usuario1.html">
                        <button type="submit">
                            Iniciar sesión
                        </button>
                    </a>
                </section>

                <section class="noCuenta">
                    <p>¿Todavía no tienes una cuenta?</p>
                    <label>Regístrate</label>
                </section>
            </div>

            <div class="div-musica">
                <img class="musica" src="/img/musica.jpg" alt="escucharMusica">
            </div>
        </div>
    </main>
</nav>