<head>
    <meta charset="UTF-8">
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>

<nav>
    <header>
        <div id="encabezado">
            <div id="logos">
                <div class="volver">
                    <a href="/partials/portada.html"><img class="iconos" src="/img/atras.png" alt="regreso"></a>
                    <a class="atras" href="/partials/portada.html">Atrás</a>
                </div>
            </div>

            <!--LOGOS SOCIAL MEDIA-->
            <div id="apps2">
                <img class="redes2" src="/img/instagram.png" alt="insta">
                <img class="redes2" src="/img/facebook.png" alt="fbook">
                <img class="redes2" src="/img/tik-tok.png" alt="tiktok">
            </div>
        </div>
    </header>
<main>
    <div class="particion">
        <div>
            <!--LOGO-->
        </div>
        

    </div>

    <div class="particion">
        <img src="/img/musica.jpg" alt="">
    </div>
</main>
</nav>