<!--B L O Q U E 1-->
<div id="portada">
    <header class="header">
        <!--imagen-->
        <div class="logo">
            <h1 class="logo__text">la nota <br> musical</h1>
        </div>

        <div id="eslogan">
            <h3>¡Nuestra misión de empoderar <br>
                a los artistas continúa!
            </h3>
        </div>

        <!--LOGOS SOCIAL MEDIA-->
        <div id="apps">
            <img src="img/instagram.png" alt="insta">
            <img src="img/facebook.png" alt="fbook">
            <img src="img/tik-tok.png" alt="tiktok">
        </div>

        <!--REGISTRO****INICIO SESION-->
        <div class="btn1">
            <div class="separador">
                <span class="divider">|</span>
                <span class="divider">|</span>
                <span class="divider">|</span>
            </div>

            <a href="#">Regístrate</a>
            <div class="separador">
                <span class="divider">|</span>
                <span class="divider">|</span>
                <span class="divider">|</span>
            </div>
            <a href="#">Iniciar sesión</a>
        </div>
    </header>




    <!--B L O Q U E 2-->
    <main class="contenido">

    </main>


    <!--B L O Q U E 3-->
    <footer class="footer">

    </footer>
</div>