<!--B L O Q U E 1-->
<div id="portada">
    <header class="header">
        <!--imagen-->
        <div class="logo">
            <h1 class="logo__text">la nota <br> musical</h1>
        </div>

        <div id="eslogan">
            <h3>¡Nuestra misión de empoderar <br>
                a los artistas continúa!
            </h3>
        </div>

        <!--LOGOS SOCIAL MEDIA-->
        <div id="apps">
            <img id="insta" src="img/instagram.png" alt="insta">
            <img id="face" src="img/facebook.png" alt="fbook">
            <img id="tiktok" src="img/tik-tok.png" alt="tiktok">
        </div>

        <!--REGISTRO****INICIO SESION-->
        <div class="btn1">
            <div class="separador">
                <span class="divider">|</span>
                <span class="divider">|</span>
                <span class="divider">|</span>
            </div>

            <a href="partials/registro.html">Regístrate</a>
            <div class="separador">
                <span class="divider">|</span>
                <span class="divider">|</span>
                <span class="divider">|</span>
            </div>
            <a href="inicioSesion.html">Iniciar sesión</a>
        </div>
    </header>




    <!--B L O Q U E 2-->
    <main class="contenido">
        <div class="content">

            <div id="texto">
                <h1>Tú traes la <br>
                    pasión. <br>
                    La nota musical trae la <br>
                    música.
                </h1>
                <p>La mejor plataforma digital <br>
                    de música para ti</p>

                <button id="btn-registro" type="submit">
                    Regístrate ahora
                </button>

                <p>Millones de canciones. <br>
                    <b>Sin anuncios</b>
                </p>
            </div>
            <div class="rotada">
                <div class="marco-celular">
                    <img id="celular" src="img/portada.webp" alt="celular">
                    <div class="reflejo"></div>
                </div>
            </div>

        </div>
    </main>






    <!--B L O Q U E 3-->
    <footer class="footer">
        <div id="descargar">
            <div class="colum">
                <img src="img/descarga2.webp" alt="descar aqui">
                <img src="img/descarga1.png" alt="descar aqui">
            </div>
            <div class="pago1">
                <img src="img/american.png" alt="american">
                <img src="img/visa.png" alt="visa">
                <img src="img/master.png" alt="mastercard">
                <img src="img/union.png" alt="union">
                <img src="img/jbc.png" alt="discover">
                <img src="img/diners.jpg" alt="diner">

            </div>


            <div class="pago2">
                <img src="img/mercadoP.webp" alt="mercado">
                <img src="img/paypal.png" alt="paypal">
                <img src="img/seven.png" alt="seven">
                <img src="img/oxxo.png" alt="oxxo">
                <img src="img/circle.png" alt="circle">
            </div>
        </div>
    </footer>
</div>