<!--B L O Q U E 1-->
<div id="portada">
    <div class="header">
        <!--imagen-->
        <div class="logo">
            <h1 class="logo__text">la nota <br> musical</h1>
        </div>

        <div id="eslogan">
            <h3>¡Nuestra misión de empoderar <br>
                a los artistas continúa!
            </h3>
        </div>
        <div class="btn1">
            <div class="separador">
            <span class="divider">|</span>
            <span class="divider">|</span>
            <span class="divider">|</span>
            </div>

            <a href="#">Regístrate</a>
            <div class="separador">
            <span class="divider">|</span>
            <span class="divider">|</span>
            <span class="divider">|</span>
            </div>
            <a href="#">Iniciar sesión</a>
        </div>
    </div>




<!--B L O Q U E 2-->
    <div class="contenido">

    </div>


<!--B L O Q U E 3-->
    <div class="footer">

    </div>
</div>