<header>
    <div class="encabezado">
        <!--LOGO INICIO////INICIAR SESION-->
        <img id="casita" src="img/casa.png" alt="inicio">
        <img id="sesion" src="img/sesion.png" alt="inicioSesion">

        <!--LOGOS SOCIAL MEDIA-->
        <div id="apps">
            <img id="insta" src="img/instagram.png" alt="insta">
            <img id="face" src="img/facebook.png" alt="fbook">
            <img id="tiktok" src="img/tik-tok.png" alt="tiktok">
        </div>

        
    </div>
</header>