<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<header>
    <div id="encabezado">
        <div id="logos">
            <div class="volver">
                <a href="/partials/portada.html"><img class="iconos" src="/img/atras.png" alt="regreso"></a>
                <a class="atras" href="/partials/portada.html">Atrás</a>
            </div>
            <div class="iniciarSsion">
                <img src="/img/insignia.png" alt="sesion">
                <a class="texto" href="">Iniciar sesión</a>
            </div>
        </div>

        <!--LOGOS SOCIAL MEDIA-->
        <div id="apps2">
            <img class="redes2" src="/img/instagram.png" alt="insta">
            <img class="redes2" src="/img/facebook.png" alt="fbook">
            <img class="redes2" src="/img/tik-tok.png" alt="tiktok">
        </div>
    </div>
</header>

<main>
        <!--logo-->
        <div class="logo2">
            <h1 class="logo__text2">la nota <br> musical</h1>
        </div>

        
</main>