<head>
    <meta charset="UTF-8">
    <title>Usuario 2 - Inicio - Compra artículos</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>

<main class="contenedor-gral">
    <aside include-html="./aside-head/aside.html"></aside>
    <header include-html="./aside-head/header.html"></header>

    <article>
        <div class="contenedor2">
            <h1 id="welcome">Bienvenidos</h1>
            <button type="submit">Ver tienda completa</button>
        </div>

        <div class="contenedor3">
            <div>
                <h3>Posters</h3>
                <div class="div_poster">
                    <div>
                        <img src="/img/poster8.jpg" alt="poster8">
                        <p>Poster 8 ----- $400.00</p>
                    </div>

                    <div>
                        <img src="/img/poster7.jpg" alt="poster7">
                        <p>Poster 7 ----- $327.00</p>
                    </div>
                </div>
            </div>

            <div>
                <h3>Ropa</h3>
                <div class="div_poster">
                    <div class="img-texto">
                        <img src="/img/blusa_blanca.jpg" alt="blusa blanca">
                        <p>Playera caballero ----- $150.00</p>
                    </div>

                    <div class="img-texto">
                        <img src="/img/blusa_negra.jpg" alt="blusa negra">
                        <p>Playera dama ----- $170.00</p>
                    </div>
                </div>
            </div>
        </div>

    </article>
</main>

<script src="../js/include-html.js"></script>