<head>
    <meta charset="UTF-8">
    <title>Portada de usuario1</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<nav>
    <nav class="contenedor-izq">
        <div class="">
            <img src="/img/usuario1_izq.jpeg" alt="imag izq">
        </div>

        <header class="banner">
            <!--logo-->
            <div class="logo4">
                <h1 class="logo__text4">la nota <br> musical</h1>
            </div>

            <div class="bienvenido">
                <h1>B i e n v e n i d o</h1>
            </div>
            <div class="cerrar">
                <img src="/img/cerrar-sesion.png" alt="cerrar sesion">
                <a href="/partials/inicioSesion.html"><p>Cerrar sesión</p></a>
            </div>
        </header>
    </nav>

    <main class="contenido-central">
        <div>
            <div>
                <img src="/img/lukas.jpg" alt="Lukas Graham">
                <h2>LUKAS GRAHAM</h2>
            </div>
            <div>
                <img src="/img/ava.jpg" alt="Ava max">
                <h2>AVA MAX</h2>
            </div>
        </div>
    </main>

    <footer>
        <h3>&copy; La nota musical</h3>

        <div>
            <!--LOGOS SOCIAL MEDIA-->
            <div>
                <img src="/img/instagram.png" alt="insta">
                <img src="/img/facebook.png" alt="fbook">
                <img src="/img/tik-tok.png" alt="tiktok">
            </div>
        </div>
    </footer>
</nav>