<head>
    <meta charset="UTF-8">
    <title>Usuario 4 - Historia</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>

<main class="contenedor-gral">
    <aside include-html="./aside-head/aside.html"></aside>
    <header include-html="./aside-head/header.html"></header>

    <article>
        <div class="history">
            <h1>Historia</h1>
            <iframe class="framewiki" src="https://es.wikipedia.org/wiki/Lukas_Graham" title="Wikipedia">
            </iframe>
        </div>
    </article>
</main>

<script src="../js/include-html.js"></script>