<head>
    <meta charset="UTF-8">
    <title>Usuario 5 - Integrantes</title>
    <link rel="stylesheet" href="/css/usuarios_restantes.css">
</head>

<main class="contenedor-gral">
    <aside include-html="./aside-head/aside.html"></aside>
    <header include-html="./aside-head/header.html"></header>
    
    <article>
        <div class="history">
            <h1>Lukas Forchhammer</h1>
            <iframe class="framewiki" src="https://es.wikipedia.org/wiki/Lukas_Forchhammer" 
            title="Wikipedia">
            </iframe>
        </div>
    </article>
</main>

<script src="../js/include-html.js"></script>