<aside>
    <!--logo-->
    <div class="logo5">
        <h1 class="logo__text5">la nota <br> musical</h1>
    </div>

    <div class="botones-side">
        <a href="/partials/usuario3_fotos.html">
            <button>Fotos</button>
        </a>

        <a href="/partials/usuario4_historia.html">
            <button>Historia</button>
        </a>

        <a href="/partials/usuario5_integrante.html">
            <button>Integrantes</button>
        </a>

        <a href="/partials/usuario6_album.html">
            <button>Albumes</button>
        </a>

        <a href="/partials/usuario7_favoritas.html">
            <button>Favoritas*</button>
        </a>
    </div>

    <div class="copyright">
        <h3>&copy; La nota musical</h3>
        <h4>
            Aviso de privacidad<br>
            <span class="linea">Términos y condiciones</span>
        </h4>
    </div>
</aside>